.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
}

.logoContainer {
    img {
        width: 100px;
    }
}

.logoContainer {
    width: 100%;
}

.location,
.contacts,
.follow {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text {
    margin-bottom: 5px;
}

.follow {
    .socials {
        justify-content: start;
        gap: 20px;

        a {
            padding: 0;
        }
    }
}
