.btn {
    border: none;
    background-color: transparent;
    color: var(--color-accent);
    font-weight: 700;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;

    &:hover {
        filter: brightness(90%);
    }
}
