.wrapper {
    width: var(--sidebar-width);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 30px 20px;
    background: var(--color-accent);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .link {
        display: flex;
        justify-content: center;
        width: 150px;
        padding: 5px 10px;
        transition: all 0.2s ease;

        &.currentLink {
            display: flex;
            justify-content: center;
            width: 150px;
            padding: 5px 0;
            background-color: orangered;
            color: white;
            border-radius: 10px;
        }
    }
}
