---
import { PageWrapper } from "shared/ui/PageWrapper/PageWrapper";
import { Section } from "shared/ui/Section/Section";
import { FormSection } from "widgets/FormSection/FormSection";
import { TestimonialPage } from "pageComponents/TestimonialsPage/TestimonialsPage";
import Layout from "layouts/Layout.astro";
import { ITestimonialsData, fetchGlobalData, fetchSectionData } from "shared/const/firebaseVariables";
import { getLangFromUrl } from "shared/lib/i18n/getLangFromUrl";
import cave from "widgets/Main/const/dungeon.webp"
import type { IGlobalData } from "shared/types/IGlobalData";


const language = getLangFromUrl(Astro.url)
let testimonialsData = null
let globalData = null
try{
    testimonialsData = await fetchSectionData(language, "testimonials") as ITestimonialsData[];
    globalData = await fetchGlobalData() as IGlobalData
}catch(e){}
---

<Layout image={cave}>
    <PageWrapper 
        title={globalData?.layoutData.navList[language][4].text || 'Testimonials'} 
        main={globalData?.layoutData.navList[language][0].text || "Main"}>
        <Section>
            <TestimonialPage 
                client:load 
                cta={globalData?.buttons[language].cta || 'book an appointment'} 
                data={testimonialsData}/>
        </Section>
        <FormSection 
            client:load 
            title={globalData?.sectionNames[language].form || 'Book an appointment'} 
            button={globalData?.buttons[language].cta || 'book an appointment'} 
            data={globalData?.formData[language] || null}/>
    </PageWrapper>
</Layout>
