.container {
    border: 1px solid lightgray;
    padding: 10px;
}

.header {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;

    > div {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid darkgray;

        &:hover {
            background: lightblue;
            cursor: pointer;
        }

        &.active {
            background: rgb(132, 201, 224);
        }
    }
}

.textarea {
    width: 100%;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
}
