.mainHeader {
    position: relative;
}

.mainHeader::after {
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url(./const/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -4.5);
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    transition: var(--transition);
    z-index: 2;
}

.layerBase {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
}

.layerMiddle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layerFront {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layerHeader {
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    transition: var(--transition);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--text);
    text-shadow: 0 0 15px #9d822b;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*  gap: 20px;
    margin-top: -30px; */
    position: relative;
    border: 1px solid red;
}

.caption {
    width: 320px;
    /*  transform: translate3d(0, calc(var(--scrollTop) / 51.5), 0); */
}

.horns {
    position: absolute;
    top: -170px;
    z-index: -1;
    transform: translate3d(0, calc(var(--scrollTop) / 6), 0);
}

/* .layerTitle {
    font-size: calc(var(--index) * 2.65);
    letter-spacing: calc(var(--index) / 2.25);
}

.layerCaption {
    font-size: calc(var(--index) / 1.175);
    letter-spacing: calc(var(--index) / 6);
    margin-top: calc(var(--index) * -0.75);
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    display: flex;
} */
