.btnContainer {
    display: flex;
    gap: 20px;
}

.content {
    position: relative;

    .cross {
        > svg {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            width: 25px;
            height: 25px;
            stroke: black;
            transform: rotate(45deg);
            z-index: 1000;

            &:hover {
                stroke: var(--color-accent);
            }
        }
    }

    .translationSlot {
        display: flex;
    }
}
