---
import { changeLanguage } from "i18next";
import Layout from "layouts/Layout.astro";
import { PageWrapper } from "shared/ui/PageWrapper/PageWrapper";
import { Section } from "shared/ui/Section/Section";
import { FAQ } from "../FAQ/FAQ";
import { FormSection } from "widgets/FormSection/FormSection";

changeLanguage("ru");
---

<Layout>
    <PageWrapper title="FAQ">
        <Section>
            <FAQ client:load />
        </Section>
        <FormSection client:load />
    </PageWrapper>
</Layout>
