.container {
    overflow: hidden !important;

    &.withGradient {
        -webkit-mask-image: linear-gradient(to bottom, black 55%, rgba(0, 0, 0, 0.01) 90%);
    }
}

.gridContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 0;
}

.imgContainer {
    border-radius: 5px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    img {
        position: relative;
    }

    &:after {
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        content: counter(masonry);
        counter-increment: masonry;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.1s ease-in;
    }
}

/* .gridContainer {
    max-width: 100%;
    column-count: 3;
    column-gap: 6px;

    .imgContainer {
        cursor: pointer;
        position: relative;
        border-radius: 10px;
        display: grid;
        grid-template-rows: 1fr auto;
        break-inside: avoid;
        margin-bottom: 6px;
        border-radius: 5px;

        img {
            max-width: 100%;
            object-fit: cover;
            border-radius: 5px;
            grid-row: 1 / -1;
            grid-column: 1;
        }

        .eye {
            opacity: 0;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            transition: all 0.15s ease;
            width: 40px;
            height: 40px;

            path {
                fill: var(--color-base);
            }
        }

        &:hover {
            img {
                filter: brightness(80%) blur(1px);
            }

            .eye {
                opacity: 1;

                &:hover {
                    path {
                        fill: var(--color-accent);
                    }
                }
            }
        }
    }
} */

/* .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 1px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 1px;
}

.imgContainer {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    background-color: #ccc;
    border-radius: 10px;
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
} */

@media (min-width: 769px) {
    .gridContainer {
        column-count: 4;
    }
}

@media (min-width: 1000px) {
    .gridContainer {
        column-count: 5;
    }
}
