.container {
    overflow: hidden !important;

    &.withGradient {
        -webkit-mask-image: linear-gradient(to bottom, black 55%, rgba(0, 0, 0, 0.01) 90%);
    }
}

.gridContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 1100px;
    padding: 20px;
    width: 100%;
    margin: 40px auto;
    counter-reset: items;
}

.item {
    width: 19%;
    margin-bottom: 10px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    img {
        width: 100%;
        height: 100%;
    }

    .eye {
        opacity: 0;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        transition: all 0.15s ease;
        width: 40px;
        height: 40px;

        path {
            fill: var(--color-base);
        }
    }

    &:hover {
        img {
            filter: brightness(80%) blur(1px);
        }

        .eye {
            opacity: 1;

            &:hover {
                path {
                    fill: var(--color-accent);
                }
            }
        }
    }
}

.item:nth-of-type(5n + 1) {
    order: 1;
}
.item:nth-of-type(5n + 2) {
    order: 2;
}
.item:nth-of-type(5n + 3) {
    order: 3;
}
.item:nth-of-type(5n + 4) {
    order: 4;
}
.item:nth-of-type(5n) {
    order: 5;
}

.break {
    flex-basis: 100%;
    width: 0;
    margin: 0;
    content: "";
    padding: 0;
}
