.btn {
    width: 150px;
    height: 40px;
    color: var(--color-base-accent);
    background-color: var(--color-light-accent);
    transition: 0.1s ease;
    box-shadow: 0 1px 0 0 var(--color-moderate-accent);
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--color-moderate-accent);
        color: var(--color-white);
        animation: none;
        box-shadow: 0 1px 0 0 var(--color-dark-accent);
    }
}
