.btn {
    padding: 0 10px;
    height: 40px;
    transition: 0.1s ease;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: var(--color-moderate-accent);
    color: var(--color-base);

    &:hover {
        filter: brightness(80%);
    }
}
