.container {
    position: relative;
    margin-right: 25px;
}

select {
    padding: 8px;
    border: 0;
    color: var(--color-base);
    appearance: none;
    background-color: var(--color-bg);
    background-repeat: no-repeat;
    background-position: right 8px center;
    cursor: pointer;
    width: 200px;
    outline: none;
    font-size: var(--font-size-h4);
}

select:focus {
    outline: none;
}

select > option {
    line-height: 30px;
    background-color: var(--color-bg);
    color: var(--color-base);
    font-size: var(--font-size-h4);
}

p > span {
    font-size: 18px;
    padding-left: 11px;
}

.chevron {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    pointer-events: none;
    stroke: rgb(120, 120, 120);
}
