* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: overlay;
}

img {
    max-width: 100%;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

:root {
    --color-accent: #d9552b;
    --color-base: #e5e5e5;
    --color-bg: #020b13;
    --color-bg-modal: rgb(35, 35, 35);
    --color-modal-overlay: rgba(12 31 49 / 49%);
    --color-error: #f82929;

    --font-size-h1: 36px;
    --font-size-h2: 28px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-extra-small: 12px;
}

body {
    background: var(--color-bg);
    color: var(--color-base);
}
