.editBtn {
    font-size: 14px;
    width: fit-content;
    min-width: 100px;
    min-height: fit-content;
    border-radius: 5px;
    border: 1px solid var(--color-dark-accent);
    background-color: var(--color-dark-accent);
    color: white;
    padding: 5px 10px;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        filter: brightness(80%);
    }
}

.img {
    width: 50px;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
