.blurImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transition: all 1s ease;
    filter: blur(20px);

    .image {
        opacity: 0;
    }

    &.unBlur {
        filter: unset;
    }

    .loaded {
        opacity: 1;
    }
}
