.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .text {
        align-self: center;
        width: 100%;
    }

    .imgContainer {
        img {
            max-width: 100%;
            height: 100%;
        }
    }
}

@media (min-width: 1000px) {
    .container {
        display: flex;
        flex-direction: row;
        gap: 80px;

        .text {
            align-self: center;
            width: 100%;
            min-width: 600px;
        }

        .imgContainer {
            img {
                max-width: 100%;
                height: 100%;
            }
        }
    }
}
