* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: var(--color-bg);
    color: var(--color-base);
    overflow-y: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

img {
    max-width: 100%;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

:root {
    --color-accent: #d8bd8e;
    --color-base: #e5e5e5;
    --color-bg: #020b13;
    --color-darkgray: rgb(49, 49, 49);
    --color-gray: rgb(128, 128, 128);
    --color-lightgray: rgb(189, 189, 189);
    --color-bg-modal: rgb(35, 35, 35);
    --color-modal-overlay: rgba(12 31 49 / 49%);
    --color-error: #f82929;

    --font-size-h1: 36px;
    --font-size-h2: 28px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-extra-small: 12px;

    --index: calc(1vw + 1vh);

    --header-height: 60px;
    /*  --transition: transform 0.2 ease-in; */
}
