.loaded {
    transition:
        var(--transition),
        filter 1s ease,
        opacity 1s ease;
    filter: unset;
}

@media (min-width: 1000px) {
    .loaded {
        transition:
            var(--transition-desktop),
            filter 1s ease,
            opacity 1s ease;
    }
}
