.mainWrapper {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::after {
        content: "";
        position: absolute;
        z-index: 10;
        width: 100%;
        height: calc(var(--index) * 10);
        background-image: url(./const/ground.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        bottom: calc(var(--index) * -4.5);
    }
}

.mainContainer {
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    transition: var(--transition);
    z-index: 2;
}

.layerBase {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;

    img {
        position: absolute;
        min-height: 100vh;
        bottom: 0;
        right: 0;
        left: 0;
        object-fit: cover;
        object-position: bottom;
    }
}

.layerMiddle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    background-position: bottom;
}

.layerFront {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
    background-position: bottom;
    z-index: 10;
}

.textContainer {
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    transition: var(--transition);
    will-change: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -40px 10px 0;
    z-index: 300;
    padding-bottom: 20px;
}

.title {
    width: 550px;
    margin-bottom: 20px;
}

.caption,
.est {
    width: 320px;
}

.horns {
    position: absolute;
    top: -170px;
    z-index: -1;
    width: 100%;
    max-width: 360px;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    transform: translate3d(0, calc(var(--scrollTop) / 6), 0);
    transition: var(--transition);
    will-change: transform;
}

.scroll {
    z-index: 10;
    position: absolute;
    bottom: 50px;
    cursor: pointer;
}

.dungeon {
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    margin-bottom: -100vh;
    background-color: rgb(75, 75, 75);
    background-blend-mode: multiply;
}

@media (min-width: 1000px) {
    .mainContainer {
        height: 100vh;
    }

    .layer,
    .textContainer,
    .horns {
        transition: var(--transition-desktop);
    }
}
