.selectBtn {
    color: var(--color-base-accent);
    margin-left: 12px;
    width: 150px;
    height: 30px;
    background-color: var(--color-light-accent);
    box-shadow: 1px 1px 0 0 var(--color-base-accent);
    border: none;
}

.selectBtn:hover {
    color: white;
    background-color: var(--color-base-light-accent);
    cursor: pointer;
}

.tableWrapper {
    margin-top: 10px;
    height: calc(100vh - var(--portfolio-header-height) - var(--header-height) - 35px);
    overflow-y: scroll;
    position: relative;
}

.table {
    width: 100%;
    color: var(--color-white);
    border-radius: 10px;
    width: 100%;
    border-spacing: 0;
    border-top-left-radius: 10px;
}

.tableThead {
    position: sticky;
    top: 0;
    z-index: 10;

    tr {
        th {
            &:first-child {
                border-top-left-radius: 10px;
            }

            &:last-child {
                border-top-right-radius: 10px;
            }
        }
    }
}

.table th,
.table td {
    font-size: var(--font-size-rowTable);
    padding: 10px;
    text-align: center;
}

.table th {
    color: var(--color-white);
    background-color: var(--color-dark-accent);
    height: 50px;
}

.table th:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayedContent {
    &:nth-child(n) {
        background-color: var(--color-white);
    }

    &:nth-child(2n) {
        background-color: var(--color-light-accent);
    }

    &:last-child {
        td {
            &:first-child {
                border-bottom-left-radius: 10px;
            }

            &:last-child {
                border-bottom-right-radius: 10px;
            }
        }
    }
}

.table td {
    justify-content: center;
    color: var(--color-base-accent);
}

/* .table td:first-child {
    display: flex;
    padding: 0;
    gap: 10px;
} */

.photo,
.icon {
    width: fit-content;
    max-height: 30px;
}

.idCheckbox {
    position: relative;
    display: flex;
    align-items: center;
    width: 20px;
    justify-content: center;
    cursor: pointer;
}

.checkbox {
    opacity: 0;
}

.idCheckbox::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-base-accent);
    background-color: var(--color-white);
    border-radius: 3px;
}

.idCheckbox:checked::before {
    background-color: var(--color-white);
}

.idCheckbox::after {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-base-accent);
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.idCheckbox:checked::after {
    opacity: 1;
}

.editDeleteInternal {
    background-color: var(--color-white);
    box-shadow: 0 0 1px 0 var(--color-base-accent);
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    border-radius: 10px;
    margin: 0 auto;
    width: 100px;
}

tr {
    padding: 0 !important;
    margin: 0 !important;
}

.editBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: none;
    background-color: var(--color-base-accent);
    color: var(--color-white);
    font-weight: bold;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.editBtn svg {
    width: 24px;
    height: 24px;
}

.editBtn:hover {
    background-color: var(--color-base-light-accent);
    transition: 0.1s;
}

.deleteBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 5px;
}

.deleteBtn:hover svg {
    stroke: var(--color-moderate-accent);
}

.deleteBtn:hover {
    stroke: var(--color-dark-accent);
}

.deleteBtn:active {
    stroke: var(--color-dark-accent);
}

.editBtn:active {
    background-color: var(--color-base-accent);
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.statusIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    gap: 5px;
    border-radius: 10px;
    font-weight: bold;
    color: var(--color-base-accent);
}

.publishedIcon path {
    fill: var(--color-white);
}

.unpublishedIcon,
.publishedIcon {
    width: 15px;
    height: 15px;
}

.statusGreen,
.statusRed {
    width: 8px;
    height: 8px;
    border-radius: 20px;
}

.statusRed {
    background-color: red;
}

.statusGreen {
    background-color: green;
    gap: 10px;
}

.icon:active {
    fill: var(--color-base-accent);
}

.className {
    width: 30px;
}

.className path {
    width: 30px;
}

@media screen and (max-width: 1250px) {
    .status {
        width: 250px;
        white-space: break-spaces;
    }
}
