.wrapper {
    width: 100%;
    padding: 30px 20px;
    margin: 30px 0;

    .container {
        max-width: 1400px;
        margin: 0 auto;

        .title {
            font-size: 80px;
            width: fit-content;
            margin-bottom: 30px;
            font-weight: 500;
        }
    }
}
