.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.formContent {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: end;

    .input {
        width: 100%;
        max-width: none;
    }
}

.vertical {
    width: fit-content;

    .formContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 40px;
    }
}

@media (min-width: 489px) {
    .form {
        .formContent {
            grid-template-columns: 1fr 1fr;
        }

        .btn {
            grid-column: span 2;
        }
    }
}

@media (min-width: 869px) {
    .form {
        .formContent {
            grid-template-columns: minmax(200px, 400px) minmax(200px, 400px) max-content;
        }

        .btn {
            grid-column: 3;
        }
    }
}

/* .form {
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: center;
    margin: 0 auto;
}

.title {
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.formContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .input {
        width: 100%;
    }
}

.vertical {
    width: fit-content;
    .title {
        font-size: 22px;
    }
    .formContent {
        flex-direction: column;
        gap: 30px;
    }
} */
