.btn {
    font-size: 14px;
    width: fit-content;
    min-height: fit-content;
    border-radius: 5px;
    border: 2px solid orangered;
    color: orangered;
    background-color: transparent;
    padding: 2px 10px;
    cursor: pointer;

    &:hover {
        filter: brightness(90%);
    }
}
