.btn {
    font-size: 14px;
    width: fit-content;
    min-width: 100px;
    height: fit-content;
    border-radius: 5px;
    border: 2px solid orangered;
    color: orangered;
    background-color: transparent;
    padding: 5px 6px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: orangered;
        color: white;
    }
}
