.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 50px;

    & > div:nth-child(2) .title {
        border-top: 1px solid black;
    }

    .container {
        width: 100%;

        .title {
            width: 100%;
            text-align: center;
            padding: 10px 0;
            font-size: 20px;
            border-bottom: 2px solid black;
            min-height: 40px;
            background-color: var(--color-dark-accent);
            color: white;
        }

        .content {
            display: flex;
            align-items: center;
            width: 100%;
            min-height: 40px;
            border-bottom: 1px solid black;
            border-top: none;
            padding-left: 50px;
        }
    }

    .editBtn {
        font-size: 14px;
        width: fit-content;
        min-width: 100px;
        min-height: fit-content;
        border-radius: 5px;
        border: 1px solid var(--color-dark-accent);
        background-color: var(--color-dark-accent);
        color: white;
        margin: 10px 0;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            filter: brightness(80%);
        }
    }
}

.wrapperModal {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 20px;

    .modalContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-right: 1px solid black;
        padding-right: 20px;

        &:last-child {
            border-right: none;
        }

        p {
            font-weight: 700;
            margin: 10px auto;
        }
    }
}
