.container {
    label {
        margin: 5px 0;
    }

    input {
        background-color: white;
        margin-bottom: 10px;
    }

    button {
        margin-left: 30px;
        padding: 1px 5px;
    }
}
