.container {
    div {
        margin-bottom: 20px;
    }

    button {
        margin-right: 20px;
    }
}
.btn {
    color: var(--color-base-accent);
    width: 150px;
    height: 30px;
    background-color: var(--color-light-accent);
    box-shadow: 1px 1px 0 0 var(--color-base-accent);
    border: none;
    border-left: 1px solid var(--color-base-accent);
}

.btn:hover {
    color: white;
    background-color: var(--color-base-light-accent);
    cursor: pointer;
}

.content {
    position: relative;

    .cross {
        > svg {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            width: 25px;
            height: 25px;
            stroke: black;
            transform: rotate(45deg);
            z-index: 1000;

            &:hover {
                stroke: var(--color-accent);
            }
        }
    }
}
