.container {
    display: flex;
    flex-direction: column;

    .contactsTitle {
        text-align: center;
        padding: 10px 0;
        font-size: 20px;
        border: 2px solid black;
        min-height: 50px;
        border-radius: 5px 5px 0 5px;
    }

    .location,
    .phone,
    .mail {
        min-height: 50px;
        display: grid;
        grid-template-columns: 1fr 100px;
        align-items: center;
        border: 2px solid black;
        border-top: none;
        margin-top: -2px;
        margin-left: 27px;
        border-radius: 0 0 0 5px;
        padding: 0 15px 0 50px;
    }
}

.dataContainer {
    display: flex;
    gap: 20px;
}
