.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .icon {
        width: 14px;

        path {
            stroke: var(--color-accent);
        }
    }
}
