.container {
    max-height: 600px;
    overflow: hidden;
}

.imgContainer {
    cursor: pointer;
    position: relative;
    border-radius: 10px;

    img {
        height: 100%;
        border-radius: 10px;
        filter: brightness(100%);
        transition: filter 0.15s ease;
    }

    .eye {
        opacity: 0;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        transition: all 0.15s ease;

        path {
            fill: var(--color-base);
        }
    }

    &:hover {
        img {
            filter: brightness(80%) blur(1px);
        }

        .eye {
            opacity: 1;

            &:hover {
                path {
                    fill: var(--color-accent);
                }
            }
        }
    }
}
