.container {
    width: 300px;

    .textarea {
        textarea {
            min-height: 100px;
        }
    }
    label {
        margin: 5px 0;
    }

    input {
        background-color: white;
    }

    & > :nth-child(2) {
        margin-bottom: 10px;
    }

    button {
        margin-left: 30px;
        padding: 1px 5px;
    }
}

.btn {
    margin: 10px;
}
